{
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
